OfPet/Library/LiteAv/lvb/build/
OfPet/.idea/vcs.xml
OfPet/.idea/misc.xml
OfPet/.idea/
OfPet/Library/LiteAv/player/build/
OfPet/Library/LiteAv/videoediter/build/
OfPet/Library/LiteAv/videojoiner/build/
OfPet/Library/LiteAv/videorecorder/build/
OfPet/Library/LiteAv/videouploader/build/
